<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <span class="navbar-brand mb-0 h1">
        <img src="https://svg-clipart.com/svg/food/coxfL4z-recipe-icon-vector.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Recipe Book
    </span>
   <!-- <span class="navbar-brand mb-0 h1">Recipe Book</span> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a 
            class="nav-link" 
            href="#" 
            #recipeElement
            (click)="onClickNav(recipeElement)">Recipes</a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link" 
            href="#"
            #shoppingListElement
            (click)="onClickNav(shoppingListElement)">Shopping List</a>
        </li>     
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
            Manage
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Save</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Fetch</a>
          </div>
        </li>
      </ul>
      
    </div>
  </nav>